.divisor {
    display: flex;
    flex-direction: column;
    width: 1080px;
    align-items: center;
    gap: 20px;
}

.classificacao {
    font-size: 32px;
    width: 940px;
    color: #ffffff;
    background: rgb(21,86,163);
	background: linear-gradient(90deg, rgba(21,86,163,1) 0%, rgba(8,32,61,1) 100%);
    padding: 5px 10px;
    display: block;
}

.PIZZA {
    display: flex;
    gap: 20px;
}

.anteriorProximo {
    background: none;
    border: none;
    cursor: pointer;
}

.produtos {
    width: 940px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.produto {
    background: #ffffff;
    border: 2px solid #C4C4C4;
    border-radius: 15px;
    padding: 8px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.produto:hover {
    background: #E6E6E6;
}

.imgProduto {
    width: 200px;
    height: 200px;
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    background-image: url("../Imagens/ImgNotFoundP.png");
    background-size: cover;
}

.nomePreco {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.nomeProduto {
    height: 58px;
    font-size: 24px;
    text-align: left;
}

.precoProduto {
    font-size: 32px;
    text-align: right;
    width: 100%;
}